/* .bgImg {
    background-image: url('../../public/static/img/web-banner.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.dropdown-menu {
    padding-left: 200px !important;
}

.searchBarShop {
    margin: auto;
    width: 500px;
    border: 2px solid #5b0833;
    border-radius: 5px;
    z-index: 999;
}

.searchBar {
    width: 420px;
    border: 2px solid #5b0833;
    border-radius: 5px;
    z-index: 999;
    margin-top: -250px;
}

.mainBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.box1 {
    background-color: #5b0833;
    color: white;
    width: 380px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 5px 0px 5px;
    margin-top: 10px;
}

.box1 h4,
.box1 p {
    color: white;
}

.box1 h4 {
    font-size: 20px;
}

.box1 button {
    background-color: white;
    color: #5b0833;
    font-size: 15px;
    border: none;
}

.box1 img {
    width: 180px;
}

.mainCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.productcard {
    background-color: whitesmoke;
    color: #5b0833;
    width: 220px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.2);
}

.productcard img {
    cursor: pointer;
    border-radius: 5px;
}

.Productext {
    font-weight: bold !important;
    font-size: 16px;
}

.productcard button {
    background-color: #5b0833;
    color: white;
    font-size: 15px;
    padding: 5px 30px 5px 30px;
    border: none;
    border-radius: 5px;
}

.productcard button:hover {
    color: white;
}

.moduleBtn button {
    background-color: #5b0833;
    color: white;
    font-size: 15px;
    padding: 5px 30px 5px 30px;
    border: none;
    border-radius: 5px;
}

.moduleBtn button:hover {
    color: white;
}

.SideBarBtn {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.SideBarBtn button {
    background-color: #5b0833;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}

.SideBarBtn button:hover {
    background-color: #5b0833;
    color: white;
}

.SideBarBtn button:focus {
    background-color: #5b0833 !important;
}

.selectpro {
    padding: 10px 20px;
    border-radius: 5px;
}

.MainSelect {
    display: flex;
    flex-wrap: wrap;
}

.customPagination li a {
    background-color: rgb(128, 0, 85) !important;
    color: white !important;
    cursor: pointer !important;
}


/* ?  using media query */

@media only screen and (max-width: 1024px) {
    .searchBar {
        display: none;
    }
    .searchBarShop {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .drop {
        margin: 0px 0px 0px 178px !important;
    }
    .SideBarBtn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* 
@media only screen and (max-width: 425px) {
    .bgImg {
        margin-top: 10px;
        width: auto;
        height: 35vh !important;
    }
}

@media only screen and (max-width: 320px) {
    .bgImg {
        width: auto;
        height: 30vh !important;
    }
}

@media only screen and (max-width: 360px) {
    .bgImg {
        width: auto;
        height: 25vh !important;
    }
}

@media only screen and (max-width: 375px) {
    .bgImg {
        width: auto;
        height: 28vh !important;
    }
}

@media only screen and (max-width: 414px) {
    .bgImg {
        width: auto;
        height: 28vh !important;
    }
}

@media only screen and (max-width: 768px) {
    .bgImg {
        width: auto;
        height: 70vh;
    }
} */