.bgImg {
    background-image: url('../../public/static/img/web-banner.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.searchBar {
    width: 420px;
    border: 2px solid purple;
    border-radius: 5px;
    z-index: 999;
    margin-top: -250px;
}

.mainBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.box1 {
    background-color: purple;
    color: white;
    width: 380px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 5px 0px 5px;
    margin-top: 10px;
}

.box1 h4,
.box1 p {
    color: white;
}

.box1 h4 {
    font-size: 20px;
}

.box1 button {
    background-color: white;
    color: purple;
    font-size: 15px;
    border: none;
}

.box1 img {
    width: 180px;
}

@media only screen and (max-width: 800px) {
    .searchBar {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .bgImg {
        margin-top: 10px;
        width: auto;
        height: 35vh !important;
    }
}

@media only screen and (max-width: 320px) {
    .bgImg {
        width: auto;
        height: 30vh !important;
    }
}

@media only screen and (max-width: 768px) {
    .bgImg {
        width: auto;
        height: 70vh;
    }
}